<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conexion Base de datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <h4>Videos - VUE</h4>

        <h5>Ejemplo de conexión con base de datos a través de una API php</h5>
        <p></p>
        <form action="" @submit.prevent="agregar">
            <input type="text" v-model="videos.nombre">
            <input type="text" v-model="videos.codColor">
            <input type="text" v-model="videos.referencia">
            <input type="submit" value='Enviar'>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Color</th>
                    <th>Referencia</th>
                    <th>Fecha Registro</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="video in videos">
                    <td>{{video.id}}</td>
                    <td>{{video.nombre}}</td>
                    <td>{{video.codColor}}</td>
                    <td>{{video.referencia}}</td>
                    <td>{{video.fechaRegistro}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                videos: []
            },created(){
                fetch("model/clase1.php")
                .then(response => response.json())
                .then(json => {
                    this.videos = json
                    }
                )                
            },
            methods: {
                agregar : function(){
                    alert("Se dispone a enviar")
                    axios.get('model/clase1.php', {
                        algo: 3,
                        accion: "mostrar"
                    })
                    .then(function (response) {
                        this.videos = []
                        this.videos = response;
                    })
                    .catch(function (error) {
                        console.log("Ocurrio un error: "+error);
                    });/**/
                }
            }
        });

        
    </script>
</body>
</html>